@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;

  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ant-menu-dark {
  background-color: unset;
}

/* :where(.css-dev-only-do-not-override-26rdvq).ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: bisque !important;
} */

:where(.css-dev-only-do-not-override-26rdvq).ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  @apply bg-primary;
}

.ant-menu-item-active::after {
  @apply active:bg-primary;
}